---
// import { Picture } from "astro:assets";

import { email } from "@/content/social-links";
// import visage from "@/assets/visage.webp";
import { body } from "@/content/about-me";

import Graphics from "@components/Graphics";
import Layout from "../../layouts/Layout.astro";
import Marquee from "@components/visual/Marquee.astro";
import Link from "@components/nav/Link.astro";
---

<Layout
    title="About — Saihaj Law"
    description="If you can do it today don't wait until tomorrow."
>
    <section
        class="container flex max-w-xl flex-col gap-32 px-5 pb-6 pt-32 uppercase text-brand-black"
    >
        <!-- top -->
        <section class="flex flex-col items-center gap-12 overflow-hidden">
            <div class="w-fit border border-brand-black px-1.5 py-1">
                <p class="-mb-[3px]">welcome to my brain</p>
            </div>
            <div class="relative h-16 flex justify-center items-center">
                <h1
                    class="flex flex-col text-5xl normal-case tracking-tighter *:leading-[8px] text-center"
                    id="about-h1"
                >
                    <span>saihaj law's</span>
                    <span>personal</span>
                    <span>digital</span>
                    <span>garden</span>
                </h1>
            </div>
            <Marquee className="bg-brand-secondary text-brand-black">
                <li class="pt-[3px]">{"// please explore with curiosity :) "}</li>
                <li class="pt-[3px]">{"// please explore with curiosity :)"}</li>
            </Marquee>
        </section>
        <!--  -->
        <section class="space-y-5 [&_p]:text-pretty">
            <p>{body[0]}</p>
            <p>{body[1]}</p>
        </section>
        <!-- experience -->
        <section class="space-y-5">
            <p>[Experience]</p>
            <ul>
                <li
                    class="flex flex-wrap justify-between gap-4 border-b border-brand-neutral-200 py-1.5 first:border-t"
                >
                    <Link
                        href="https://getaxle.io"
                        target="_blank"
                        class="normal-case underline underline-offset-2"
                    >axle</Link>
                    <p>co-founder & cto</p>
                </li>
                <li
                    class="flex flex-wrap justify-between gap-4 border-b border-brand-neutral-200 py-1.5 first:border-t"
                >
                    <Link
                        href="https://brilliantmediatech.com"
                        target="_blank"
                        class="normal-case underline underline-offset-2"
                    >brilliant media</Link>
                    <p>co-founder & cto</p>
                </li>
                <li
                    class="flex flex-wrap justify-between gap-4 border-b border-brand-neutral-200 py-1.5 first:border-t"
                >
                    <Link
                        href="https://apple.com"
                        target="_blank"
                        class="normal-case underline underline-offset-2"
                    >apple</Link>
                    <p>security researcher</p>
                </li>
                <li
                    class="flex flex-wrap justify-between gap-4 border-b border-brand-neutral-200 py-1.5 first:border-t"
                >
                    <Link
                        href="https://uwaterloo.ca"
                        target="_blank"
                        class="normal-case underline underline-offset-2"
                    >university of waterloo</Link>
                    <p>Researcher</p>
                </li>
            </ul>
        </section>
        <!-- books -->
        <section class="space-y-5">
            <p>[Books I'm Reading]</p>
            <ul>
                <li class="flex flex-wrap gap-4 border-b border-brand-neutral-200 py-1.5 first:border-t">
                    <Link
                        href="https://pragprog.com/titles/tpp20/the-pragmatic-programmer/"
                        target="_blank"
                        class="normal-case underline underline-offset-2"
                    >The Pragmatic Programmer</Link>
                </li>
                <li class="flex flex-wrap gap-4 border-b border-brand-neutral-200 py-1.5 first:border-t">
                    <Link
                        href="https://www.oreilly.com/library/view/clean-code/9780136083238/"
                        target="_blank"
                        class="normal-case underline underline-offset-2"
                    >Clean Code</Link>
                </li>
                <li class="flex flex-wrap gap-4 border-b border-brand-neutral-200 py-1.5 first:border-t">
                    <Link
                        href="https://www.calnewport.com/books/deep-work/"
                        target="_blank"
                        class="normal-case underline underline-offset-2"
                    >Deep Work</Link>
                </li>
            </ul>
        </section>
        <footer class="flex flex-col items-center gap-4">
            <div class="flex">
                <Graphics.ce />
                <Graphics.recycle />
                <Graphics.rain />
            </div>
            <div class="flex flex-col items-center gap-3">
                <Graphics.todaynottomorrow />
                <div class="text-center">
                    <p>Today, not tomorrow</p>
                    <p>Toronto, ON</p>
                    <a
                        href={email}
                        class="lowercase underline underline-offset-2"
                        >laws0817@gmail.com</a
                    >
                </div>
            </div>
        </footer>
    </section>
</Layout>

<script>
    import { gsap } from "@/lib/gsap";

    gsap.set("#about-h1 span", {
        color: "var(--neutral-200)",
    });

    let tl = gsap.timeline({
        repeat: -1,
        onRepeat: () => {
            gsap.set("#about-h1 span", { clearProps: "all" });
        },
    });
    tl.to("#about-h1 span", {
        keyframes: {
            color: ["var(--black)", "var(--neutral-200)"],
        },
        ease: "steps(1)",
        stagger: 1,
        duration: 2,
    }).set(
        "#about-h1 span",
        {
            zIndex: 90,
            stagger: 1,
            duration: 2,
        },
        "<"
    );

    gsap.set(".about-image picture:not(:first-child) img", {
        xPercent: 100,
        objectPosition: "80% 50%",
    });
    const img_anim = gsap.to(".about-image picture:not(:first-child) img", {
        objectPosition: "50% 50%",
        xPercent: 0,
        stagger: 0.14,
        paused: true,
    });

    let main_image = document.querySelector(
        ".about-main-image"
    ) as HTMLPictureElement;
    main_image.addEventListener("pointerenter", () => img_anim.play());
    main_image.addEventListener("pointerleave", () => img_anim.reverse());
</script>
